.page-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: var(--grey1);
}

.page.with-header {
  min-height: calc(100vh - 94.5px);
  margin-top: 95.2px;
}
