.register-page {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-link {
  text-align: center;
  font-size: 14px;
  color: var(--grey8);
}
