.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-page {
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
